front/node_modules/
front/.env
front/.idea/
front/yarn.lock
front/package-lock.json
front/build/

dbdata

backend_auth/node_modules/
backend_auth/.env
backend_auth/.idea/
backend_auth/yarn.lock
backend_auth/package-lock.json


backend_sales/node_modules/
backend_sales/.env
backend_sales/.idea/
backend_sales/yarn.lock
backend_sales/package-lock.json

.env
.idea/
